
{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}
<div class="container">

    <h1 class="display-4">Edit Post</h1>

    <div class="form-group">
        <form action="/posts/{{post.id}}/edit", method="POST">

            <input type="text" class="form-control" name="title" placeholder="{{post.title}}">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="{{post.content}}" name="content"></textarea>

            <div class="form-check form-check-inline m-3">
                {% for tag in tags %}
                        {% if tag.id in tag_ids %}
                            <input type="checkbox" class="form-check-input" name='tags' value={{tag.id}} checked>
                            <label for='tags' class="form-check-label mr-3">{{tag.name}}</label>
                        {% else %}
                            <input type="checkbox" class="form-check-input" name='tags' value={{tag.id}}>
                            <label for='tags' class="form-check-label mr-3">{{tag.name}}</label>
                        {% endif %}
                {% endfor %}
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



{% endblock %}